# ENV must start with "REACT_APP_" prefix https://create-react-app.dev/docs/adding-custom-environment-variables

REACT_APP_API_URL=https://api_server.url
REACT_APP_AUTH_URL=https://auth_server.url
REACT_APP_CLIENT_ID=string